/* Healthy Code Project CSS Styles */

.jumbotron {
    color: white;
    /* using text-shadow in all 4 directions to pop text from background */
    text-shadow: -1px -1px 1px black,
                  1px -1px 1px black,
                 -1px 1px 1px black,
                  1px 1px 1px black;
   
    background-image: url(images/green_watermelon_background_190211.jpg);
    background-size: cover;
}

nav {
    border: 1px solid navy;
    border-radius: 5px;
}

.btn-primary {
    color: white;
    background: red;
    border: none;
}

.btn-primary:hover {
    color: red;
    background: white;
    border: 1px solid navy;
}

#top {
    color: white;
    background: navy;
    padding: 10px;
    border-radius: 5px;
}